body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  text-align: center;
  color:#007bff
}
.container{
  margin-top: 2rem;
  border-bottom: 1px solid #007bff;
  display: flex;
  width: 40%;
  margin-left: auto;
  margin-right: auto 
}
.focused{
  background-color: #f2f2f2;
}
.bold{
  border: 2px solid black !important;
  font-weight: bolder;
}

.chip{
  border: 1px solid #cccccc;
  background-color:  #e6e6e6;
  padding-right: 0.7rem;
  border-radius: 15px;
  cursor: pointer;
  cursor: pointer;
  list-style: none;
  margin-bottom: 0.2rem;
  margin-right: 0.4rem;
  color: #666666;
  font-weight: 500;
  display: flex;
}

ul{
  margin: 0px;
  margin-bottom: 0.2rem;
  padding: 0px;
}

.selectionList{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 1px 1px lightgrey;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  margin-top: 1rem;
  overflow-x: none;
}

.selectionList li{
  padding: 0.8rem 0.8rem !important;
  cursor: pointer;
  list-style: none;
  text-align: left;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between; 
}
.optionProfile{
  display: flex;
  font-size: 1.2rem;
  color: #808080;
  font-weight: 400;
}
.optionProfile .optionIcon{
  font-size: 1.7rem;
  margin-right:1rem
}
.optionEmail{
  color:#999999;
  font-weight: 400;
}
.selectedList{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px
}

.inputContainer{
  cursor:pointer;
  list-style:none;
  margin-left:0.5rem
}

.inputContainer input{
  border:none;
  outline:none;
  font-size: 1rem;
  position: relative;
}
.chipIcon{
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.chipX{
  margin: 0rem 0.5rem;
  font-weight: bold;
}
::-webkit-scrollbar{
  width: 0.4rem;
}

::-webkit-scrollbar-thumb{
  background-color: lightgray;
}
@media screen and (max-width: 1600px) {
  .container{
    width: 60%;
  }
  .selectionList{
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .container{
    width: 60%;
  }
  .selectionList{
    width: 40%;
  }
}

@media screen and (max-width: 850px) {
  .container{
    width: 80%;
  }
  .selectionList{
    width: 60%;
  }
}

@media screen and (max-width: 550px) {
  .selectionList li{
    flex-direction: column;
    justify-content: center;
  }
  .optionProfile{
    align-items: center;
  }
  .optionEmail{
    margin-left: 2.65rem;
  }
}